Repository opensearch-project/sql, pull requests merged in 2021-05, with the labels that each got.

#61 Upgrade dependencies to address high severity CVE-2021-20270
  sql-cli/setup.py
Labels: Security

#56 Support querying a data stream
  legacy/src/main/java/org/opensearch/sql/legacy/esdomain/LocalClusterState.java
  legacy/src/test/java/org/opensearch/sql/legacy/util/CheckScriptContents.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/client/OpenSearchNodeClient.java
Labels: enhancement

#66 SQL/PPL API endpoint backward compatibility
  README.md
  docs/dev/Doctest.md
  docs/dev/Pagination.md
  docs/dev/SemanticAnalysis.md
  docs/experiment/ppl/admin/monitoring.rst
  docs/experiment/ppl/admin/settings.rst
  docs/experiment/ppl/interfaces/endpoint.rst
  docs/experiment/ppl/interfaces/protocol.rst
  docs/user/admin/monitoring.rst
  docs/user/admin/settings.rst
  docs/user/beyond/fulltext.rst
  docs/user/beyond/partiql.rst
  docs/user/dml/delete.rst
  docs/user/dql/basics.rst
  docs/user/dql/complex.rst
  docs/user/dql/metadata.rst
  docs/user/dql/troubleshooting.rst
  docs/user/interfaces/endpoint.rst
  docs/user/interfaces/protocol.rst
  docs/user/limitations/limitations.rst
  docs/user/optimization/optimization.rst
  integ-test/src/test/java/org/opensearch/sql/doctest/core/test/DocBuilderTest.java
  integ-test/src/test/java/org/opensearch/sql/doctest/core/test/SqlRequestFormatTest.java
  integ-test/src/test/java/org/opensearch/sql/legacy/CsvFormatResponseIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/PrettyFormatterIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/QueryAnalysisIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/ppl/MetricsIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/PPLPluginIT.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSqlAction.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSqlSettingsAction.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSqlStatsAction.java
  plugin/src/main/java/org/opensearch/sql/plugin/rest/RestPPLQueryAction.java
  plugin/src/main/java/org/opensearch/sql/plugin/rest/RestPPLStatsAction.java
  ppl/src/test/java/org/opensearch/sql/ppl/PPLServiceTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/domain/PPLQueryRequestTest.java
  sql-cli/src/opensearch_sql_cli/opensearch_connection.py
  sql-jdbc/src/main/java/org/opensearch/jdbc/protocol/http/JsonHttpProtocol.java
  sql-odbc/src/sqlodbc/opensearch_communication.cpp
  sql/src/test/java/org/opensearch/sql/sql/SQLServiceTest.java
  sql/src/test/java/org/opensearch/sql/sql/domain/SQLQueryRequestTest.java
  workbench/server/services/utils/constants.ts
Labels: PPL, SQL, backwards-compatibility

#69 Change strategy to test connectivity between ODBC driver and SQL plugin
  sql-odbc/src/sqlodbc/opensearch_communication.cpp
  sql-odbc/src/sqlodbc/opensearch_communication.h
Labels: ODBC

#75 Remove cursor enabling and fetch size setting
  docs/dev/Pagination.md
  docs/user/admin/settings.rst
  docs/user/interfaces/endpoint.rst
  integ-test/src/test/java/org/opensearch/sql/doctest/admin/PluginSettingIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/CursorIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/LegacyAPICompatibilityIT.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSqlAction.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/SqlSettings.java
  legacy/src/main/java/org/opensearch/sql/legacy/query/DefaultQueryAction.java
  legacy/src/main/java/org/opensearch/sql/legacy/request/SqlRequestFactory.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/query/DefaultQueryActionTest.java
Labels: SQL

#68 Migrate SQL/PPL, JDBC, ODBC docs to OpenSearch
  DEVELOPER_GUIDE.rst
  README.md
  docs/category.json
  docs/dev/Doctest.md
  docs/user/index.rst
  docs/user/optimization/optimization.rst
  docs/user/ppl/RFC_ Pipe Processing Language.pdf
  docs/user/ppl/admin/monitoring.rst
  docs/user/ppl/admin/settings.rst
  docs/user/ppl/cmd/dedup.rst
  docs/user/ppl/cmd/eval.rst
  docs/user/ppl/cmd/fields.rst
  docs/user/ppl/cmd/head.rst
  docs/user/ppl/cmd/rare.rst
  docs/user/ppl/cmd/rename.rst
  docs/user/ppl/cmd/search.rst
  docs/user/ppl/cmd/sort.rst
  docs/user/ppl/cmd/stats.rst
  docs/user/ppl/cmd/syntax.rst
  docs/user/ppl/cmd/top.rst
  docs/user/ppl/cmd/where.rst
  docs/user/ppl/functions/condition.rst
  docs/user/ppl/functions/datetime.rst
  docs/user/ppl/functions/math.rst
  docs/user/ppl/functions/string.rst
  docs/user/ppl/general/datatypes.rst
  docs/user/ppl/general/identifiers.rst
  docs/user/ppl/index.rst
  docs/user/ppl/interfaces/endpoint.rst
  docs/user/ppl/interfaces/protocol.rst
  docs/user/ppl/limitations/limitations.rst
  plugin/build.gradle
  sql-jdbc/README.md
  sql-jdbc/build.gradle
  sql-jdbc/docs/tableau.md
  sql-odbc/README.md
  sql-odbc/docs/dev/run_tests.md
  sql-odbc/docs/test/excel_connection.md
  sql-odbc/docs/user/microsoft_excel_support.md
  sql-odbc/docs/user/microsoft_excel_support_mac.md
  sql-odbc/docs/user/power_bi_support.md
  sql-odbc/docs/user/tableau_support.md
  sql-odbc/src/PowerBIConnector/SqlOdbcPBIConnector.pq
  sql-odbc/src/TableauConnector/opensearch_sql_odbc/manifest.xml
Labels: JDBC, ODBC, PPL, SQL, documentation

#82 Support Plugin Settings Backwards Compatibility
  common/src/main/java/org/opensearch/sql/common/setting/LegacySettings.java
  common/src/main/java/org/opensearch/sql/common/setting/Settings.java
  docs/dev/Pagination.md
  docs/user/admin/settings.rst
  docs/user/dql/basics.rst
  docs/user/ppl/admin/settings.rst
  integ-test/src/test/java/org/opensearch/sql/doctest/admin/PluginSettingIT.java
  integ-test/src/test/java/org/opensearch/sql/doctest/core/builder/DocBuilder.java
  integ-test/src/test/java/org/opensearch/sql/legacy/CursorIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/DeleteIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/PluginIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/PPLPluginIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/ResourceMonitorIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/StandaloneIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/LegacyAPICompatibilityIT.java
  integ-test/src/test/java/org/opensearch/sql/util/TestUtils.java
  legacy/src/main/java/org/opensearch/sql/legacy/esdomain/LocalClusterState.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/AsyncRestExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/cursor/CursorAsyncRestExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/cursor/CursorResultExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/metrics/RollingCounter.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSqlAction.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSqlSettingsAction.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/SqlSettings.java
  legacy/src/main/java/org/opensearch/sql/legacy/query/DefaultQueryAction.java
  legacy/src/main/java/org/opensearch/sql/legacy/query/OpenSearchActionFactory.java
  legacy/src/main/java/org/opensearch/sql/legacy/request/SqlRequestParam.java
  legacy/src/test/java/org/opensearch/sql/legacy/executor/AsyncRestExecutorTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/JSONRequestTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/LocalClusterStateTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/SqlRequestFactoryTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/SqlRequestParamTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/planner/QueryPlannerBatchTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/planner/QueryPlannerTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/query/DefaultQueryActionTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/util/CheckScriptContents.java
  legacy/src/test/java/org/opensearch/sql/legacy/util/MultipleIndexClusterUtils.java
  opensearch/build.gradle
  opensearch/src/main/java/org/opensearch/sql/opensearch/monitor/OpenSearchResourceMonitor.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/setting/LegacyOpenDistroSettings.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/setting/OpenSearchSettings.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/monitor/OpenSearchResourceMonitorTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/setting/OpenSearchSettingsTest.java
  plugin/src/main/java/org/opensearch/sql/plugin/SQLPlugin.java
  plugin/src/main/java/org/opensearch/sql/plugin/request/PPLQueryRequestFactory.java
  plugin/src/main/java/org/opensearch/sql/plugin/rest/RestPPLQueryAction.java
  plugin/src/main/java/org/opensearch/sql/plugin/rest/RestQuerySettingsAction.java
Labels: backwards-compatibility

#84 Updated icon and background images in ODBC installers
  sql-odbc/src/installer/Resources/background.bmp
  sql-odbc/src/installer/Resources/background_darkaqua.bmp
  sql-odbc/src/installer/banner.bmp
  sql-odbc/src/installer/dialog.bmp
  sql-odbc/src/installer/icon.ico
Labels: ODBC

#83 Build SQL/PPL against OpenSearch rc1 and rename artifacts
  .github/workflows/draft-release-notes-workflow.yml
  .github/workflows/sql-test-and-build-workflow.yml
  build.gradle
  config/checkstyle/google_checks.xml
  opensearch/src/main/java/org/opensearch/sql/opensearch/setting/OpenSearchSettings.java
  sql-jdbc/build.gradle
Labels: PPL, SQL

#94 Build SQL/PPL against OpenSearch 1.0 branch
  .github/workflows/sql-test-and-build-workflow.yml
Labels: PPL, SQL

#95 Add release notes for OpenSearch RC1 release
  release-notes/opensearch-sql.release-notes-1.0.0.0-rc1.md
Labels: documentation
