Repository opensearch-project/sql, pull requests merged in 2021-07, with the labels that each got.

#150 Fix NPE for SHOW statement without filter
  sql/src/main/antlr/OpenSearchSQLParser.g4
  sql/src/test/java/org/opensearch/sql/sql/antlr/SQLSyntaxParserTest.java
Labels: SQL, bug, v1.0.0

#151 Add release notes for OpenSearch GA
  release-notes/opensearch-sql.release-notes-1.0.0.0.md
Labels: documentation, v1.0.0

#158 Merge latest changes in main branch to 1.0 branch
  .github/workflows/draft-release-notes-workflow.yml
  .github/workflows/sql-test-and-build-workflow.yml
  .github/workflows/sql-workbench-release-workflow.yml
  .github/workflows/sql-workbench-test-and-build-workflow.yml
  README.md
  build.gradle
  integtest.sh
  release-notes/opensearch-sql.release-notes-1.0.0.0.md
  sql-cli/src/opensearch_sql_cli/__init__.py
  sql-jdbc/build.gradle
  sql/src/main/antlr/OpenSearchSQLParser.g4
  sql/src/test/java/org/opensearch/sql/sql/antlr/SQLSyntaxParserTest.java
  workbench/opensearch_dashboards.json
  workbench/package.json
Labels: v1.0.0

#163 Fix for SQL-ODBC AWS Init and Shutdown Behaviour
  sql-odbc/src/sqlodbc/opensearch_communication.cpp
  sql-odbc/src/sqlodbc/opensearch_communication.h
Labels: ODBC, bug, v1.1.0

#166 Support implicit type conversion from string to boolean
  core/src/main/java/org/opensearch/sql/ast/expression/Cast.java
  core/src/main/java/org/opensearch/sql/data/type/ExprCoreType.java
  core/src/main/java/org/opensearch/sql/data/type/ExprType.java
  core/src/main/java/org/opensearch/sql/expression/DSL.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionRepository.java
  core/src/main/java/org/opensearch/sql/expression/function/FunctionResolver.java
  core/src/main/java/org/opensearch/sql/expression/operator/convert/TypeCastOperator.java
  core/src/test/java/org/opensearch/sql/data/type/ExprTypeTest.java
  core/src/test/java/org/opensearch/sql/expression/function/BuiltinFunctionRepositoryTest.java
  core/src/test/java/org/opensearch/sql/expression/function/FunctionResolverTest.java
  core/src/test/java/org/opensearch/sql/expression/function/WideningTypeRuleTest.java
  core/src/test/java/org/opensearch/sql/expression/operator/convert/TypeCastOperatorTest.java
  docs/dev/TypeConversion.md
  docs/dev/img/type-hierarchy-tree-old.png
  docs/dev/img/type-hierarchy-tree-with-implicit-cast.png
  docs/user/general/datatypes.rst
  integ-test/src/test/resources/correctness/expressions/cast.txt
  opensearch/src/main/java/org/opensearch/sql/opensearch/data/type/OpenSearchDataType.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/data/type/OpenSearchDataTypeTest.java
Labels: PPL, SQL, enhancement, v1.1.0

#167 Support distinct count aggregation
  core/src/main/java/org/opensearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/org/opensearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/org/opensearch/sql/ast/expression/AggregateFunction.java
  core/src/main/java/org/opensearch/sql/data/model/ExprValueUtils.java
  core/src/main/java/org/opensearch/sql/expression/DSL.java
  core/src/main/java/org/opensearch/sql/expression/aggregation/Aggregator.java
  core/src/main/java/org/opensearch/sql/expression/aggregation/CountAggregator.java
  core/src/main/java/org/opensearch/sql/expression/aggregation/NamedAggregator.java
  core/src/test/java/org/opensearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/org/opensearch/sql/data/model/ExprValueUtilsTest.java
  core/src/test/java/org/opensearch/sql/expression/aggregation/AggregationTest.java
  core/src/test/java/org/opensearch/sql/expression/aggregation/CountAggregatorTest.java
  docs/user/dql/aggregations.rst
  docs/user/ppl/cmd/stats.rst
  integ-test/src/test/java/org/opensearch/sql/ppl/StatsCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/AggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/WindowFunctionIT.java
  integ-test/src/test/resources/correctness/queries/aggregation.txt
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/aggregation/dsl/AggregationBuilderHelper.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/aggregation/dsl/BucketAggregationBuilder.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/aggregation/dsl/MetricAggregationBuilder.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/storage/script/aggregation/dsl/MetricAggregationBuilderTest.java
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstExpressionBuilderTest.java
  sql/src/main/antlr/OpenSearchSQLParser.g4
  sql/src/main/java/org/opensearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/org/opensearch/sql/sql/parser/AstAggregationBuilderTest.java
  sql/src/test/java/org/opensearch/sql/sql/parser/AstExpressionBuilderTest.java
Labels: PPL, SQL, enhancement, v1.1.0
