Repository opensearch-project/sql, pull requests merged in 2022-09, with the labels that each got.

#793 Change master node timeout to new API
  plugin/src/main/java/org/opensearch/sql/plugin/rest/RestQuerySettingsAction.java
Labels: backport 2.x

#809 Add Forum link in SQL plugin README.md
  README.md
Labels: documentation

#826 add 2.3 release notes
  release-notes/opensearch-sql.release-notes-2.3.0.0.md
Labels: v2.3.0

#824 add 2.3 release notes
  release-notes/opensearch-sql.release-notes-2.3.0.0.md
Labels: v2.3.0

#754 Add implementation of `now`, `sysdate`, `localtime` and similar functions
  common/src/main/java/org/opensearch/sql/common/utils/QueryContext.java
  core/src/main/java/org/opensearch/sql/analysis/AnalysisContext.java
  core/src/main/java/org/opensearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/org/opensearch/sql/ast/expression/ConstantFunction.java
  core/src/main/java/org/opensearch/sql/expression/DSL.java
  core/src/main/java/org/opensearch/sql/expression/datetime/DateTimeFunction.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/test/java/org/opensearch/sql/analysis/ExpressionAnalyzerTest.java
  core/src/test/java/org/opensearch/sql/expression/datetime/NowLikeFunctionTest.java
  docs/user/dql/functions.rst
  docs/user/ppl/functions/datetime.rst
  integ-test/src/test/java/org/opensearch/sql/ppl/DateTimeFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/DateTimeFunctionIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/antlr/NowLikeFunctionParserTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstExpressionBuilderTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstNowLikeFunctionTest.java
  sql/src/main/antlr/OpenSearchSQLLexer.g4
  sql/src/main/antlr/OpenSearchSQLParser.g4
  sql/src/main/java/org/opensearch/sql/sql/parser/AstExpressionBuilder.java
  sql/src/test/java/org/opensearch/sql/sql/antlr/SQLSyntaxParserTest.java
  sql/src/test/java/org/opensearch/sql/sql/parser/AstBuilderTest.java
Labels: enhancement, SQL, PPL

#835 Add datetime functions `FROM_UNIXTIME` and `UNIX_TIMESTAMP`
  core/src/main/java/org/opensearch/sql/data/model/ExprTimeValue.java
  core/src/main/java/org/opensearch/sql/data/model/ExprTimestampValue.java
  core/src/main/java/org/opensearch/sql/expression/datetime/DateTimeFunction.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/utils/DateTimeFormatters.java
  core/src/test/java/org/opensearch/sql/expression/datetime/DateTimeFunctionTest.java
  core/src/test/java/org/opensearch/sql/expression/datetime/DateTimeTestBase.java
  core/src/test/java/org/opensearch/sql/expression/datetime/FromUnixTimeTest.java
  core/src/test/java/org/opensearch/sql/expression/datetime/MakeDateTest.java
  core/src/test/java/org/opensearch/sql/expression/datetime/MakeTimeTest.java
  core/src/test/java/org/opensearch/sql/expression/datetime/UnixTimeStampTest.java
  core/src/test/java/org/opensearch/sql/expression/datetime/UnixTwoWayConversionTest.java
  docs/user/dql/functions.rst
  docs/user/ppl/functions/datetime.rst
  integ-test/src/test/java/org/opensearch/sql/ppl/DateTimeFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/DateTimeFunctionIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/data/value/OpenSearchExprValueFactory.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  sql/src/main/antlr/OpenSearchSQLLexer.g4
  sql/src/main/antlr/OpenSearchSQLParser.g4
Labels: enhancement, SQL, PPL

#837 Reorganize GitHub workflows.
  .github/workflows/bi-connectors.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dco.yml
  .github/workflows/draft-release-notes-workflow.yml
  .github/workflows/link-checker.yml
  .github/workflows/sql-cli-release-workflow.yml
  .github/workflows/sql-cli-test-and-build-workflow.yml
  .github/workflows/sql-jdbc-push-jdbc-maven.yml
  .github/workflows/sql-jdbc-release-workflow.yml
  .github/workflows/sql-jdbc-test-and-build-workflow.yml
  .github/workflows/sql-odbc-main.yml
  .github/workflows/sql-odbc-release-workflow.yml
  .github/workflows/sql-release-workflow.yml
  .github/workflows/sql-test-and-build-workflow.yml
  .github/workflows/sql-test-workflow.yml
  .github/workflows/sql-workbench-release-workflow.yml
  .github/workflows/sql-workbench-test-and-build-workflow.yml
  sql-cli/tests/test_opensearch_connection.py
Labels: infrastructure, backport 1.x, backport main

#848 Adding `CONVERT_TZ` and `DATETIME` functions to SQL and PPL
  core/src/main/java/org/opensearch/sql/data/model/ExprDatetimeValue.java
  core/src/main/java/org/opensearch/sql/expression/DSL.java
  core/src/main/java/org/opensearch/sql/expression/datetime/DateTimeFunction.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/utils/DateTimeFormatters.java
  core/src/main/java/org/opensearch/sql/utils/DateTimeUtils.java
  core/src/test/java/org/opensearch/sql/expression/datetime/ConvertTZTest.java
  core/src/test/java/org/opensearch/sql/expression/datetime/DateTimeTest.java
  docs/user/dql/functions.rst
  docs/user/ppl/functions/datetime.rst
  integ-test/src/test/java/org/opensearch/sql/ppl/ConvertTZFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/DateTimeFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/DateTimeImplementationIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/ConvertTZFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/DateTimeFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/DateTimeImplementationIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  sql/src/main/antlr/OpenSearchSQLLexer.g4
  sql/src/main/antlr/OpenSearchSQLParser.g4
Labels: enhancement, SQL, PPL

#865 Remove duplicated png file
  sql-jdbc/docs/img/tableau_graph.png
Labels: bug, JDBC

#872 Update Jetty Dependency
  sql-jdbc/build.gradle
  sql-jdbc/src/test/java/org/opensearch/jdbc/test/TLSServer.java
Labels: JDBC, dependencies

#873 Trigger build on pull request synchronize action.
  .github/workflows/bi-connectors.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/draft-release-notes-workflow.yml
  .github/workflows/link-checker.yml
  .github/workflows/sql-cli-test-and-build-workflow.yml
  .github/workflows/sql-jdbc-test-and-build-workflow.yml
  .github/workflows/sql-odbc-main.yml
  .github/workflows/sql-test-and-build-workflow.yml
  .github/workflows/sql-workbench-test-and-build-workflow.yml
Labels: infrastructure, backport 1.x

#870 Fix NPE with multiple queries containing DOT(.) in index name.
  integ-test/src/test/java/org/opensearch/sql/sql/IdentifierIT.java
  plugin/src/main/java/org/opensearch/sql/plugin/catalog/CatalogServiceImpl.java
  plugin/src/test/java/org/opensearch/sql/plugin/catalog/CatalogServiceImplTest.java
  plugin/src/test/resources/empty_catalog.json
Labels: bug
