Repository opensearch-project/sql, pull requests merged in 2023-05, with the labels that each got.

#1512 Cross cluster search in PPL
  docs/user/ppl/admin/cross_cluster_search.rst
  docs/user/ppl/admin/security.rst
  docs/user/ppl/cmd/search.rst
  docs/user/ppl/general/identifiers.rst
  docs/user/ppl/index.rst
  integ-test/build.gradle
  integ-test/src/test/java/org/opensearch/sql/legacy/OpenSearchSQLRestTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/ppl/CrossClusterSearchIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/OpenSearchScrollRequest.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/system/OpenSearchDescribeIndexRequest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/OpenSearchQueryRequestTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/system/OpenSearchDescribeIndexRequestTest.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/antlr/PPLSyntaxParserTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstBuilderTest.java
Labels: PPL, feature

#1606 align with Spark scalastyle
  flint/.scalafmt.conf
  flint/DEVELOPER_GUIDE.md
  flint/build.sbt
  flint/dev/.scalafmt.conf
  flint/project/plugins.sbt
  flint/scalastyle-config.xml
Labels: infrastructure, Flint

#1598 Bump org.json dependency version (#1586)
  integ-test/src/test/java/org/opensearch/sql/legacy/AggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/NestedFieldQueryIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SubqueryIT.java
  integ-test/src/test/java/org/opensearch/sql/util/MatcherUtils.java
  legacy/build.gradle
  legacy/src/main/java/org/opensearch/sql/legacy/expression/model/ExprValueFactory.java
  opensearch/build.gradle
  ppl/build.gradle
  prometheus/build.gradle
  sql/build.gradle
Labels: dependencies, backport 2.x

#1610 Update usage example doc for PPL cross-cluster search
  docs/user/ppl/admin/cross_cluster_search.rst
Labels: documentation, PPL

#1611 Init OpenSearch DataSourceV2 and IT
  flint/DEVELOPER_GUIDE.md
  flint/build.sbt
  flint/flint-spark-integration/src/main/java/org/opensearch/io/OpenSearchOptions.java
  flint/flint-spark-integration/src/main/java/org/opensearch/io/OpenSearchReader.java
  flint/flint-spark-integration/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/v2/OpenSearchJsonDataSourceV2.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/v2/OpenSearchPartitionReader.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/v2/OpenSearchPartitionReaderFactory.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/v2/OpenSearchScan.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/v2/OpenSearchScanBuilder.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/v2/OpenSearchTable.scala
  flint/flint-spark-integration/src/test/java/org/opensearch/testcontainers/OpenSearchContainer.java
  flint/flint-spark-integration/src/test/scala/org/apache/spark/FirstITSuit.scala
  flint/flint-spark-integration/src/test/scala/org/apache/spark/FlintSuite.scala
  flint/flint-spark-integration/src/test/scala/org/apache/spark/OpenSearchIndex.scala
  flint/flint-spark-integration/src/test/scala/org/apache/spark/OpenSearchSuite.scala
  flint/flint-spark-integration/src/test/scala/org/opensearch/io/OpenSearchOptionsTest.scala
  flint/integ-test/src/test/scala/org/apache/spark/OpenSearchITSuite.scala
  flint/project/Dependencies.scala
  flint/project/plugins.sbt
Labels: infrastructure, Flint

#1568 Add hash join benchmark doc
  docs/dev/img/hash-join-benchmark/newoldhasherr.png
  docs/dev/img/hash-join-benchmark/newoldhashlat100.png
  docs/dev/img/hash-join-benchmark/newoldhashlat90.png
  docs/dev/img/hash-join-benchmark/newoldhashmaxt.png
  docs/dev/img/hash-join-benchmark/newoldhashmedt.png
  docs/dev/index.md
  docs/dev/testing-hash-join-benchmark.md
Labels: documentation, SQL

#1619 Update Spring to 5.3.25 to cover CVE-2023-20863 "spring-expression DDOS"
  build.gradle
Labels: dependencies, backport 1.x

#1596 Backport jackson and gradle update from #1580 to 2.x
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: infrastructure

#1609 Update maintainers list
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: infrastructure, maintenance

#1634 Add Flint client and index management API
  flint/build.sbt
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintClient.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintIndex.scala
  flint/flint-core/src/main/scala/org/opensearch/flint/core/metadata/FlintMetadata.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintOpenSearchClient.java
  flint/integ-test/src/test/scala/org/opensearch/flint/OpenSearchSuite.scala
  flint/integ-test/src/test/scala/org/opensearch/flint/core/FlintOpenSearchClientSuite.scala
Labels: enhancement, Flint

#1592 Update docs for pagination.
  docs/dev/Pagination-v2.md
  docs/dev/index.md
  docs/dev/query-optimizer-improvement.md
  docs/dev/query-optimizier-improvement.md
Labels: documentation, pagination

#1633 Add scroll search based OpenSearchReader
  .github/workflows/flint-test-and-build-workflow.yml
  flint/build.sbt
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintClient.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintClientBuilder.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintOptions.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintOpenSearchClient.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintReader.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/OpenSearchReader.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/OpenSearchScrollReader.java
  flint/flint-spark-integration/src/main/java/org/opensearch/io/OpenSearchOptions.java
  flint/flint-spark-integration/src/main/java/org/opensearch/io/OpenSearchReader.java
  flint/flint-spark-integration/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintDataSourceV2.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionReader.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionReaderFactory.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintScan.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintScanBuilder.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintTable.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/v2/OpenSearchJsonDataSourceV2.scala
  flint/flint-spark-integration/src/test/scala/org/apache/spark/FirstITSuit.scala
  flint/flint-spark-integration/src/test/scala/org/apache/spark/OpenSearchIndex.scala
  flint/flint-spark-integration/src/test/scala/org/apache/spark/OpenSearchSuite.scala
  flint/flint-spark-integration/src/test/scala/org/opensearch/io/OpenSearchOptionsTest.scala
  flint/integ-test/src/test/java/org/opensearch/testcontainers/OpenSearchContainer.java
  flint/integ-test/src/test/scala/org/apache/spark/FlintDataSourceV2ITSuite.scala
  flint/integ-test/src/test/scala/org/apache/spark/OpenSearchITSuite.scala
  flint/integ-test/src/test/scala/org/opensearch/flint/OpenSearchSuite.scala
  flint/integ-test/src/test/scala/org/opensearch/flint/core/FlintOpenSearchClientSuite.scala
  flint/project/Dependencies.scala
Labels: spark integration, Flint

#1642 add filter push down
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionReaderFactory.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintScan.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintScanBuilder.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/storage/FlintQueryCompiler.scala
  flint/flint-spark-integration/src/test/scala/org/apache/spark/sql/flint/storage/FlintQueryCompilerSuite.scala
  flint/integ-test/src/test/scala/org/apache/spark/FlintDataSourceV2ITSuite.scala
Labels: Flint

#1620 Add Nested Documentation for 2.7 Related Features
  docs/dev/index.md
  docs/dev/sql-nested-function-select-clause.md
  docs/dev/sql-nested-function.md
Labels: documentation, backport 2.x

#1636 Add Flint Spark index management API
  flint/README.md
  flint/build.sbt
  flint/docs/index.md
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintClient.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintOpenSearchClient.java
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkIndex.scala
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/skipping/FlintSparkSkippingIndex.scala
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/skipping/FlintSparkSkippingStrategy.scala
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/skipping/partition/PartitionSkippingStrategy.scala
  flint/integ-test/src/test/scala/org/opensearch/flint/spark/FlintSparkSkippingIndexSuite.scala
  flint/project/Dependencies.scala
Labels: enhancement, Flint

#1653 Support FlintTable batch write
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintClient.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintOptions.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintOpenSearchClient.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintWriter.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/OpenSearchWriter.java
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionWriter.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionWriterFactory.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintTable.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintWrite.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintWriteBuilder.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/json/FlintJacksonGenerator.scala
  flint/integ-test/src/test/scala/org/apache/spark/FlintDataSourceV2ITSuite.scala
  flint/integ-test/src/test/scala/org/opensearch/flint/OpenSearchSuite.scala
  flint/integ-test/src/test/scala/org/opensearch/flint/core/FlintOpenSearchClientSuite.scala
Labels: enhancement, Flint

#1656 Add Streaming write support
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionWriter.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionWriterFactory.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintTable.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintWrite.scala
  flint/integ-test/src/test/scala/org/apache/spark/FlintDataSourceV2ITSuite.scala
Labels: enhancement, Flint

#1661 add flint spark configuration
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintOptions.java
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintDataSourceV2.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionReaderFactory.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionWriter.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintPartitionWriterFactory.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintScan.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintScanBuilder.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintTable.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/FlintWrite.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/config/FlintConfig.scala
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/config/FlintSparkConf.scala
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  flint/flint-spark-integration/src/test/scala/org/apache/spark/sql/flint/config/FlintSparkConfSuite.scala
  flint/integ-test/src/test/scala/org/apache/spark/FlintDataSourceV2ITSuite.scala
  flint/integ-test/src/test/scala/org/opensearch/flint/core/FlintOpenSearchClientSuite.scala
  flint/integ-test/src/test/scala/org/opensearch/flint/spark/FlintSparkSkippingIndexSuite.scala
Labels: enhancement, spark integration

#1658 Add refresh index API for partition skipping index
  flint/docs/index.md
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkIndex.scala
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/skipping/FlintSparkSkippingIndex.scala
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/skipping/FlintSparkSkippingStrategy.scala
  flint/flint-spark-integration/src/main/scala/org/opensearch/flint/spark/skipping/partition/PartitionSkippingStrategy.scala
  flint/flint-spark-integration/src/test/scala/org/apache/spark/FlintSuite.scala
  flint/integ-test/src/test/scala/org/opensearch/flint/spark/FlintSparkSkippingIndexSuite.scala
Labels: enhancement, Flint

#1660 Pagination: Add Close Cursor API in v2.
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/tree/CloseCursor.java
  core/src/main/java/org/opensearch/sql/executor/execution/CommandPlan.java
  core/src/main/java/org/opensearch/sql/executor/execution/QueryPlan.java
  core/src/main/java/org/opensearch/sql/executor/execution/QueryPlanFactory.java
  core/src/main/java/org/opensearch/sql/planner/DefaultImplementor.java
  core/src/main/java/org/opensearch/sql/planner/logical/LogicalCloseCursor.java
  core/src/main/java/org/opensearch/sql/planner/logical/LogicalFetchCursor.java
  core/src/main/java/org/opensearch/sql/planner/logical/LogicalPlanNodeVisitor.java
  core/src/main/java/org/opensearch/sql/planner/physical/CursorCloseOperator.java
  core/src/main/java/org/opensearch/sql/planner/physical/PhysicalPlanNodeVisitor.java
  core/src/test/java/org/opensearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/org/opensearch/sql/executor/execution/CommandPlanTest.java
  core/src/test/java/org/opensearch/sql/executor/execution/QueryPlanFactoryTest.java
  core/src/test/java/org/opensearch/sql/planner/DefaultImplementorTest.java
  core/src/test/java/org/opensearch/sql/planner/logical/LogicalPlanNodeVisitorTest.java
  core/src/test/java/org/opensearch/sql/planner/physical/CursorCloseOperatorTest.java
  core/src/test/java/org/opensearch/sql/planner/physical/PhysicalPlanNodeVisitorTest.java
  docs/dev/Pagination-v2.md
  integ-test/src/test/java/org/opensearch/sql/sql/PaginationIT.java
  integ-test/src/test/java/org/opensearch/sql/util/StandaloneModule.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSQLQueryAction.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/executor/OpenSearchExecutionEngine.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/executor/protector/OpenSearchExecutionProtector.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/OpenSearchScrollRequest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/executor/protector/OpenSearchExecutionProtectorTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/OpenSearchScrollRequestTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexScanTest.java
  protocol/src/main/java/org/opensearch/sql/protocol/response/format/CommandResponseFormatter.java
  protocol/src/test/java/org/opensearch/sql/protocol/response/format/CommandResponseFormatterTest.java
  sql/src/main/java/org/opensearch/sql/sql/SQLService.java
  sql/src/main/java/org/opensearch/sql/sql/domain/SQLQueryRequest.java
  sql/src/test/java/org/opensearch/sql/sql/SQLServiceTest.java
  sql/src/test/java/org/opensearch/sql/sql/domain/SQLQueryRequestTest.java
Labels: pagination

#1640 Documentation Proposal for `Nested` Function in WHERE Clause
  docs/dev/index.md
  docs/dev/sql-nested-function-where-clause.md
Labels: backport 2.x, backport 2.8

#1657 Add Support for Nested Function Use In WHERE Clause Predicate Expresion
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/test/java/org/opensearch/sql/analysis/AnalyzerTest.java
  docs/user/dql/functions.rst
  integ-test/src/test/java/org/opensearch/sql/sql/NestedIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/OpenSearchRequestBuilder.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/filter/FilterQueryBuilder.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/filter/lucene/LikeQuery.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/filter/lucene/LuceneQuery.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/filter/lucene/NestedQuery.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/OpenSearchRequestBuilderTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/storage/script/filter/FilterQueryBuilderTest.java
  sql/src/main/java/org/opensearch/sql/sql/parser/AstBuilder.java
  sql/src/test/java/org/opensearch/sql/sql/parser/AstBuilderTest.java
Labels: backport 2.x, backport 2.8

#1665 Create new anonymizer for new engine
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSqlAction.java
  sql/src/main/java/org/opensearch/sql/sql/antlr/AnonymizerListener.java
  sql/src/main/java/org/opensearch/sql/sql/antlr/SQLSyntaxParser.java
  sql/src/test/java/org/opensearch/sql/sql/parser/AnonymizerListenerTest.java
Labels: backport 2.x, backport 2.8

#1676 Release Notes for 2.8.0
  release-notes/opensearch-sql.release-notes-2.8.0.0.md
Labels: backport 2.x, backport 2.8

#1663 add AWS sigv4 support
  flint/build.sbt
  flint/docs/index.md
  flint/flint-core/src/main/scala/org/opensearch/flint/core/FlintOptions.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/auth/AWSRequestSigningApacheInterceptor.java
  flint/flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintOpenSearchClient.java
  flint/flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/config/FlintSparkConf.scala
  flint/project/plugins.sbt
Labels: enhancement, Flint
