Repository opensearch-project/sql, pull requests merged in 2025-03, with the labels that each got.

#3369 Fix CalcitePPLJoinIT
  integ-test/src/test/resources/indexDefinitions/occupation_index_mapping.json
  integ-test/src/test/resources/indexDefinitions/state_country_index_mapping.json
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/PredicateAnalyzer.java
Labels: calcite

#3346 [v3.0.0] Deprecate scroll API usage
  common/src/main/java/org/opensearch/sql/common/setting/Settings.java
  docs/user/admin/settings.rst
  integ-test/src/test/java/org/opensearch/sql/ppl/StandaloneIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/StandalonePaginationIT.java
  legacy/src/main/java/org/opensearch/sql/legacy/cursor/DefaultCursor.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/ElasticHitsExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/cursor/CursorCloseExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/cursor/CursorResultExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/format/PrettyFormatRestExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/format/SelectResultSet.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/join/ElasticJoinExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/multi/MinusExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/query/DefaultQueryAction.java
  legacy/src/main/java/org/opensearch/sql/legacy/query/planner/logical/node/TableScan.java
  legacy/src/main/java/org/opensearch/sql/legacy/query/planner/physical/node/pointInTime/PointInTime.java
  legacy/src/test/java/org/opensearch/sql/legacy/executor/format/PrettyFormatRestExecutorTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/cursor/DefaultCursorTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/planner/QueryPlannerTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/query/DefaultQueryActionTest.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/OpenSearchRequestBuilder.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/setting/OpenSearchSettings.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexScan.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/executor/OpenSearchExecutionEngineTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/executor/protector/OpenSearchExecutionProtectorTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/OpenSearchRequestBuilderTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/storage/OpenSearchIndexTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexScanPaginationTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexScanTest.java
Labels: breaking, v3.0.0

#3371 Implement ppl `IN` subquery command with Calcite
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/expression/subquery/InSubquery.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/utils/OpenSearchTypeFactory.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLAggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLBasicIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLInSubqueryIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLJoinIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLSortIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestUtils.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestsConstants.java
  integ-test/src/test/java/org/opensearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/resources/indexDefinitions/work_information_index_mapping.json
  integ-test/src/test/resources/indexDefinitions/worker_index_mapping.json
  integ-test/src/test/resources/work_information.json
  integ-test/src/test/resources/worker.json
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexEnumerator.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/util/JdbcOpenSearchDataTypeConvertor.java
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLInSubqueryTest.java
Labels: calcite

#3374 Add udf interface
  core/src/main/java/org/opensearch/sql/calcite/CalciteAggCallVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/udf/UserDefinedAggFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/UserDefinedFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/mathUDF/SqrtFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/udaf/TakeAggFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/AggregateUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/UserDefineFunctionUtils.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLAggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLBuiltinFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLJoinIT.java
  integ-test/src/test/resources/state_country.json
  opensearch/src/main/java/org/opensearch/sql/opensearch/util/JdbcOpenSearchDataTypeConvertor.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAggregationTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLMathFunctionTest.java
Labels: calcite

#3377 [BugFix] Fix the join condition resolving bug introduced by IN subquery implementation
  core/src/main/java/org/opensearch/sql/calcite/CalcitePlanContext.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
Labels: bug, calcite

#3378 Implement ppl relation subquery command with Calcite
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteSortCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLJoinIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLSortIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/CalciteOpenSearchIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/util/JdbcOpenSearchDataTypeConvertor.java
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLBasicTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLJoinTest.java
Labels: calcite

#3393 Add string builtin functions
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLBuiltinFunctionIT.java
Labels: calcite

#3367 [v3.0.0] Deprecate OpenSearch DSL format
  docs/user/interfaces/protocol.rst
  integ-test/src/test/java/org/opensearch/sql/legacy/AggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/DateFormatIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/DateFunctionsIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/GetEndpointQueryIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/HashJoinIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/HavingIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/JSONRequestIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/JoinIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/MathFunctionsIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/MultiQueryIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/NestedFieldQueryIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/OrderIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/PluginIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/PreparedStatementIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/QueryFunctionsIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/QueryIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLFunctionsIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/ShowIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SourceFieldIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SubqueryIT.java
  integ-test/src/test/java/org/opensearch/sql/sql/ConditionalIT.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/ActionRequestRestExecutorFactory.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/ElasticDefaultRestExecutor.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/Format.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSqlAction.java
  legacy/src/main/java/org/opensearch/sql/legacy/query/OpenSearchActionFactory.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/SqlRequestParamTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/StringOperatorsTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/planner/OpenSearchActionFactoryTest.java
  legacy/src/test/java/org/opensearch/sql/legacy/unittest/query/DefaultQueryActionTest.java
Labels: breaking, v3.0.0

#3405 Keep aggregation in Calcite consistent with current PPL behavior
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/udf/udaf/NullableSqlAvgAggFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/udaf/NullableSqlSumAggFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/AggregateUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/CalciteToolsHelper.java
  core/src/main/java/org/opensearch/sql/executor/QueryService.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteRenameCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteStatsCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLAggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLJoinIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLRenameIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestsConstants.java
  integ-test/src/test/java/org/opensearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/ppl/StandaloneIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/StatsCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/util/StandaloneModule.java
  plugin/src/main/java/org/opensearch/sql/plugin/config/OpenSearchPluginModule.java
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/PPLService.java
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/PPLServiceTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAbstractTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAggregationTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLBasicTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLEvalTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLJoinTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLScalarSubqueryTest.java
Labels: calcite

#3412 Add condition udfs
  core/src/main/java/org/opensearch/sql/calcite/udf/conditionUDF/IfFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/conditionUDF/IfNullFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/conditionUDF/NullIfFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/mathUDF/SqrtFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/UserDefineFunctionUtils.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLBuiltinFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLConditionBuiltinFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLStringBuiltinFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestsConstants.java
  integ-test/src/test/resources/state_country_with_null.json
Labels: calcite

#3427 Revert result ordering of `stats-by`
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLAggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLJoinIT.java
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAbstractTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAggregationTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLEvalTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLJoinTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLScalarSubqueryTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstExpressionBuilderTest.java
Labels: calcite

#3419 Implement lookup command
  core/src/main/java/org/opensearch/sql/ast/tree/Lookup.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/ExtendedRexBuilder.java
  core/src/main/java/org/opensearch/sql/calcite/utils/JoinAndLookupUtils.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLBasicIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLInSubqueryIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLLookupIT.java
  integ-test/src/test/java/org/opensearch/sql/util/MatcherUtils.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLLookupTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite

#3433 Support ppl BETWEEN operator within Calcite
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/ExtendedRexBuilder.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  core/src/main/java/org/opensearch/sql/exception/CalciteUnsupportedException.java
  core/src/main/java/org/opensearch/sql/executor/QueryService.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteOperatorIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLBasicIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLBasicTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite

#3416 Implement ppl `dedup` command with Calcite
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteDedupCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalciteDedupIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalciteDedupPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestUtils.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestsConstants.java
  integ-test/src/test/resources/duplication_nullable.json
  integ-test/src/test/resources/indexDefinitions/duplication_nullable_index_mapping.json
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalciteDedupTest.java
Labels: calcite

#3429 [Calcite Engine] Support In expression
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteWhereCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/WhereCommandIT.java
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLBasicTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite

#3439 Support ppl CAST function with Calcite
  core/src/main/java/org/opensearch/sql/ast/expression/Cast.java
  core/src/main/java/org/opensearch/sql/ast/expression/DataType.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/ExtendedRexBuilder.java
  core/src/main/java/org/opensearch/sql/calcite/utils/CalciteToolsHelper.java
  core/src/main/java/org/opensearch/sql/calcite/utils/OpenSearchTypeFactory.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLCastFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLCastFunctionPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLConditionBuiltinFunctionPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLLookupPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLStringBuiltinFunctionPushdownIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLCastFunctionTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite

#3421 Support group by span over time based column with Span UDF
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/udf/SpanFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  core/src/main/java/org/opensearch/sql/data/model/ExprDateValue.java
  core/src/main/java/org/opensearch/sql/data/model/ExprTimeValue.java
  core/src/main/java/org/opensearch/sql/planner/physical/collector/Rounding.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLAggregationIT.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAggregationTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite

#3390 Add math udf
  core/src/main/java/org/opensearch/sql/calcite/udf/mathUDF/CRC32Function.java
  core/src/main/java/org/opensearch/sql/calcite/udf/mathUDF/ConvFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/mathUDF/EulerFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/mathUDF/ModFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/AggregateUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/UserDefinedFunctionUtils.java
  core/src/main/java/org/opensearch/sql/data/model/ExprValueUtils.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLBuiltinFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLStringBuiltinFunctionIT.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLMathFunctionTest.java
Labels: calcite

#3469 Set bouncycastle version inline
  datasources/build.gradle
Labels: dependencies

#3447 Use entire shadow jar to fix IT
  build.gradle
  integ-test/build.gradle
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/fallback/CalciteInformationSchemaCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/fallback/CalcitePrometheusDataSourceCommandsIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/setting/OpenSearchSettings.java
  plugin/build.gradle
  plugin/src/test/java/org/opensearch/sql/plugin/transport/TransportPPLQueryRequestTest.java
  plugin/src/test/java/org/opensearch/sql/plugin/transport/TransportPPLQueryResponseTest.java
Labels: calcite

#3345 Unified OpenSearch PPL Data Type
  core/src/main/java/org/opensearch/sql/analysis/AnalysisContext.java
  core/src/main/java/org/opensearch/sql/executor/QueryService.java
  core/src/main/java/org/opensearch/sql/executor/execution/AbstractPlan.java
  core/src/main/java/org/opensearch/sql/executor/execution/StreamingQueryPlan.java
  core/src/main/java/org/opensearch/sql/expression/function/FunctionProperties.java
  core/src/main/java/org/opensearch/sql/expression/system/SystemFunctions.java
  core/src/main/java/org/opensearch/sql/lang/LangSpec.java
  core/src/main/java/org/opensearch/sql/lang/PPLLangSpec.java
  core/src/main/java/org/opensearch/sql/utils/SystemIndexUtils.java
  core/src/test/java/org/opensearch/sql/executor/execution/StreamingQueryPlanTest.java
  core/src/test/java/org/opensearch/sql/lang/LangSpecTest.java
  core/src/test/java/org/opensearch/sql/lang/PPLLangSpecTest.java
  core/src/test/java/org/opensearch/sql/utils/SystemIndexUtilsTest.java
  docs/user/ppl/cmd/describe.rst
  docs/user/ppl/general/datatypes.rst
  integ-test/src/test/java/org/opensearch/sql/ppl/DataTypeIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/DateTimeFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/DateTimeImplementationIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/DescribeCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/InformationSchemaCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/JsonFunctionsIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/MathematicalFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/ObjectFieldOperateIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/PrometheusDataSourceCommandsIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/StatsCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/SystemFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/TextFunctionIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/system/OpenSearchDescribeIndexRequest.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/system/OpenSearchSystemIndex.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/system/OpenSearchDescribeIndexRequestTest.java
  plugin/src/main/java/org/opensearch/sql/plugin/transport/TransportPPLQueryAction.java
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstBuilderTest.java
  prometheus/src/main/java/org/opensearch/sql/prometheus/request/system/PrometheusDescribeMetricRequest.java
  prometheus/src/test/java/org/opensearch/sql/prometheus/request/PrometheusDescribeMetricRequestTest.java
  protocol/src/main/java/org/opensearch/sql/protocol/response/QueryResult.java
Labels: breaking, v3.0.0

#3471 Add missing text function
  core/src/main/java/org/opensearch/sql/calcite/udf/textUDF/LocateFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/textUDF/ReplaceFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/UserDefinedFunctionUtils.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLStringBuiltinFunctionIT.java
Labels: calcite

#3476 [Calcite engine] Support nested field
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/utils/OpenSearchTypeFactory.java
  core/src/main/java/org/opensearch/sql/data/model/ExprValueUtils.java
  core/src/main/java/org/opensearch/sql/expression/ReferenceExpression.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/fallback/CalciteObjectFieldOperateIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/nonfallback/NonFallbackCalciteObjectFieldOperateIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/ObjectFieldOperateIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexEnumerator.java
Labels: calcite

#3482 [Followup] fix text function IT for locate and strcmp
  core/src/main/java/org/opensearch/sql/calcite/udf/textUDF/LocateFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/nonfallback/NonFallbackCalciteTextFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLStringBuiltinFunctionIT.java
Labels: testing, calcite

#3446 Support `TYPEOF` function with Calcite
  core/src/main/java/org/opensearch/sql/calcite/CalcitePlanContext.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/udf/systemUDF/TypeOfFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/OpenSearchTypeFactory.java
  core/src/main/java/org/opensearch/sql/calcite/utils/PlanUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/UserDefinedFunctionUtils.java
  core/src/main/java/org/opensearch/sql/executor/QueryService.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/nonfallback/NonFallbackCalciteSystemFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLBuiltinFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/SystemFunctionIT.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAbstractTest.java
Labels: calcite

#3474 Support `parse` command with Calcite
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/nonfallback/NonFallbackCalciteParseCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLDedupIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLDedupPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLParseIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLParsePushdownIT.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLDedupTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLParseTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite

#3483 [Calcite Engine]Support UDT for date, time, timestamp
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/type/ExprBasicSqlType.java
  core/src/main/java/org/opensearch/sql/calcite/type/ExprDateType.java
  core/src/main/java/org/opensearch/sql/calcite/type/ExprRelDataType.java
  core/src/main/java/org/opensearch/sql/calcite/type/ExprTimeStampType.java
  core/src/main/java/org/opensearch/sql/calcite/type/ExprTimeType.java
  core/src/main/java/org/opensearch/sql/calcite/udf/SpanFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  core/src/main/java/org/opensearch/sql/calcite/utils/OpenSearchTypeFactory.java
  core/src/main/java/org/opensearch/sql/data/model/ExprDateValue.java
  core/src/main/java/org/opensearch/sql/data/model/ExprTimeValue.java
  core/src/main/java/org/opensearch/sql/data/model/ExprTimestampValue.java
  core/src/main/java/org/opensearch/sql/planner/physical/collector/Rounding.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/nonfallback/NonFallbackCalciteStatsCommandIT.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAggregationTest.java
Labels: calcite

#3484 CVE-2024-57699 High: Fix json-smart vulnerability
  core/build.gradle
Labels: Security, calcite
