Repository opensearch-project/sql, pull requests merged in 2025-10, with the labels that each got.

#4422 Add 3.3 release notes
  release-notes/opensearch-sql.release-notes-3.3.0.0.md
Labels: backport main, skip-changelog

#4332 Support `multisearch` command in calcite
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/tree/Multisearch.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/SchemaUnifier.java
  core/src/test/java/org/opensearch/sql/ast/tree/MultisearchTest.java
  docs/user/dql/metadata.rst
  docs/user/ppl/cmd/multisearch.rst
  docs/user/ppl/index.rst
  doctest/test_data/time_test_data.json
  doctest/test_data/time_test_data2.json
  doctest/test_docs.py
  integ-test/src/test/java/org/opensearch/sql/calcite/CalciteNoPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteMultisearchCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestUtils.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestsConstants.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_multisearch_basic.yaml
  integ-test/src/test/resources/expectedOutput/calcite/explain_multisearch_timestamp.yaml
  integ-test/src/test/resources/expectedOutput/calcite_no_pushdown/explain_multisearch_basic.yaml
  integ-test/src/test/resources/expectedOutput/calcite_no_pushdown/explain_multisearch_timestamp.yaml
  integ-test/src/test/resources/indexDefinitions/locations_type_conflict_index_mapping.json
  integ-test/src/test/resources/locations.json
  integ-test/src/test/resources/locations_type_conflict.json
  integ-test/src/test/resources/time_test_data2.json
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLMultisearchTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: PPL, feature, calcite, backport 2.19-dev

#4435 reverting to _doc + _id
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/OpenSearchQueryRequest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/OpenSearchQueryRequestTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/OpenSearchRequestBuilderTest.java
Labels: enhancement, PPL, backport 3.3

#4447 [DOC] Fix typo: Update eventstats.rst
  docs/user/ppl/cmd/eventstats.rst
Labels: documentation, PPL
