Repository opensearch-project/sql, pull requests merged in 2025-08, with the labels that each got.

#3962 Add issue template specific for PPL commands and queries
  .github/ISSUE_TEMPLATE/ppl_bug_report.md
Labels: documentation, enhancement

#4006 fix snapshot uploading
  .github/maven-publish-utils.sh
  .github/workflows/publish-async-query-core.yml
  .github/workflows/publish-grammar-files.yml
Labels: infrastructure, backport 2.x, backport 2.19-dev

#3982 Fix DOUBLE to STRING cast rendering zero values in scientific notation
  core/src/main/java/org/opensearch/sql/calcite/ExtendedRexBuilder.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLBuiltinOperators.java
  core/src/main/java/org/opensearch/sql/expression/function/udf/math/NumberToStringFunction.java
  integ-test/src/test/java/org/opensearch/sql/ppl/CastFunctionIT.java
Labels: bug, PPL, calcite, backport 2.19-dev

#4016 Eliminate reliance on assert in Calcite for integration test
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  integ-test/src/test/java/org/opensearch/sql/legacy/OpenSearchSQLRestTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/RestIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/sql/CorrectnessTestBase.java
Labels: testing, backport 3.2

#4002 Prevent aggregation push down when it has inner filter
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExplainIT.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_agg_on_window.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_output.json
  integ-test/src/yamlRestTest/resources/rest-api-spec/test/issues/3996.yml
  integ-test/src/yamlRestTest/resources/rest-api-spec/test/issues/4009.yml
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/OpenSearchAggregateIndexScanRule.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/OpenSearchIndexScanRule.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/AbstractCalciteIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/CalciteLogicalIndexScan.java
Labels: bug, PPL, calcite, backport 2.19-dev

#4017 Fix span on negative timestamp
  core/src/main/java/org/opensearch/sql/utils/DateTimeUtils.java
  core/src/test/java/org/opensearch/sql/utils/DateTimeUtilsTest.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalcitePPLAggregationIT.java
Labels: bug, PPL, backport 2.19-dev

#4020 Fix PPL eval command string concatenation with + operator
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteEvalCommandIT.java
Labels: enhancement, PPL, backport 2.19-dev

#4010 Support script push down on text field
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExplainIT.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_script_push_on_text.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_text_like_function.json
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/PredicateAnalyzer.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/CalciteScriptEngine.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/aggregation/CalciteAggregationScript.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/core/CalciteScript.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/script/filter/CalciteFilterScript.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/PredicateAnalyzerTest.java
Labels: enhancement, calcite, pushdown, backport 2.19-dev

#4075 Add example for String concat in eval.rst
  docs/user/ppl/cmd/eval.rst
Labels: documentation

#4077 Fix CI failure because of plan having changed
  integ-test/src/test/resources/expectedOutput/calcite/explain_skip_script_encoding.json
Labels: bug, backport 2.19-dev

#4029 adding capability in SQLQueryUtils to identify if SQL query is for creating a table or not.
  async-query-core/src/main/java/org/opensearch/sql/spark/utils/SQLQueryUtils.java
  async-query-core/src/test/java/org/opensearch/sql/spark/utils/SQLQueryUtilsTest.java
Labels: enhancement, SQL

#4060 Add flaky retry on CalcitePPLTpchIT
  integ-test/src/test/java/org/opensearch/sql/calcite/tpch/CalcitePPLTpchIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/util/Retry.java
  integ-test/src/test/java/org/opensearch/sql/util/RetryProcessor.java
Labels: flaky-test, testing, backport 2.19-dev

#4084 Support distinct_count/dc in eventstats
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  docs/user/ppl/cmd/eventstats.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalcitePPLEventstatsIT.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_eventstats_dc.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_eventstats_distinct_count.json
  ppl/src/main/antlr/OpenSearchPPLParser.g4
Labels: enhancement, PPL, backport 2.19-dev

#4107 FollowUp: Disable GCedMemoryUsage if no concurrent GC MXBean
  integ-test/src/test/java/org/opensearch/sql/calcite/clickbench/PPLClickBenchIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/ResourceMonitorIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/monitor/GCedMemoryUsage.java
Labels: bug

#4110 [Backport 2.19-dev] Allow type checkering on nested & struct fields for isnull, isnotnull and ispresent (#4044)
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalcitePPLConditionBuiltinFunctionIT.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_partial_filter_isnull.json
  integ-test/src/test/resources/expectedOutput/calcite_no_pushdown/explain_partial_filter_isnull.json
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/PredicateAnalyzer.java
Labels: bug

#4085 PPL percentile function shortcut `perc()` and `p()` support
  docs/user/dql/aggregations.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalcitePPLAggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/security/CrossClusterSearchIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAggregationTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstExpressionBuilderTest.java
Labels: enhancement, PPL, calcite, backport 2.19-dev

#4126 `fields` and `table` command big5 queries
  integ-test/src/test/resources/big5/queries/fields_full_wildcard.ppl
  integ-test/src/test/resources/big5/queries/fields_mixed_delimiters.ppl
  integ-test/src/test/resources/big5/queries/table_full_wildcard.ppl
  integ-test/src/test/resources/big5/queries/table_mixed_delimiters.ppl
Labels: infrastructure

#4131 [Hotpatch][Infra] Fix CI artifact sources
  build.gradle
  integ-test/build.gradle
Labels: infrastructure

#4141 Migrate from sonatype snapshot to ci.opensearch.org snapshots
  build.gradle
Labels: infrastructure, backport-manually

#4153 Reorder the maven repositories to resolve the service unavailable issue
  .github/workflows/link-checker.yml
  build.gradle
Labels: infrastructure

#4090 fix: Update System.env syntax for Gradle 9 compatibility
  plugin/build.gradle
Labels: maintenance

#4120 Starter implementation for `spath` command
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/org/opensearch/sql/ast/tree/SPath.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonExtractFunctionImpl.java
  docs/user/ppl/cmd/spath.rst
  docs/user/ppl/index.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalcitePPLSpathCommandIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLSpathTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/SPathRewriteTest.java
Labels: enhancement, PPL, backport 2.19-dev

#4041 PPL Coalesce Function Enhancement for Calcite - Advanced Type Handling and Field Support
  core/src/main/java/org/opensearch/sql/calcite/CalcitePlanContext.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/utils/UserDefinedFunctionUtils.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLBuiltinOperators.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/main/java/org/opensearch/sql/expression/function/udf/condition/EnhancedCoalesceFunction.java
  docs/user/ppl/functions/condition.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalcitePPLEnhancedCoalesceIT.java
  integ-test/src/test/java/org/opensearch/sql/security/CrossClusterCoalesceIT.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLEnhancedCoalesceTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLFunctionTypeTest.java
Labels: enhancement, PPL, calcite, backport 2.19-dev

#4100 Add EARLIEST/LATEST aggregate functions for PPL
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/test/java/org/opensearch/sql/expression/function/AggFunctionTestBase.java
  core/src/test/java/org/opensearch/sql/expression/function/EarliestLatestAggFunctionTest.java
  docs/category.json
  docs/user/dql/metadata.rst
  docs/user/ppl/cmd/stats.rst
  doctest/build.gradle
  doctest/test_data/events.json
  doctest/test_docs.py
  doctest/test_mapping/events.json
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalcitePPLAggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestUtils.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestsConstants.java
  integ-test/src/test/java/org/opensearch/sql/ppl/NewAddedCommandsIT.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_earliest_latest.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_earliest_latest_custom_time.json
  integ-test/src/test/resources/expectedOutput/calcite_no_pushdown/explain_earliest_latest.json
  integ-test/src/test/resources/expectedOutput/calcite_no_pushdown/explain_earliest_latest_custom_time.json
  integ-test/src/test/resources/indexDefinitions/logs_index_mapping.json
  integ-test/src/test/resources/logs.json
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLEarliestLatestTest.java
Labels: PPL, feature, calcite, backport 2.19-dev

#4160 Add missing license headers from #4120
  core/src/main/java/org/opensearch/sql/ast/tree/SPath.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/SPathRewriteTest.java
Labels: maintenance

#4157 Add count alias to count()
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  docs/user/ppl/cmd/stats.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalcitePPLAggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/StatsCommandIT.java
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAggregationTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstBuilderTest.java
Labels: enhancement, PPL, calcite, backport 2.19-dev

#4175 Fix doctest requirements install
  async-query/build.gradle
  doctest/requirements.txt
  legacy/build.gradle
Labels: maintenance

#4083 [Feature] Implementation of `regex` Command In PPL
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/tree/Regex.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/expression/parse/RegexCommonUtils.java
  core/src/main/java/org/opensearch/sql/expression/parse/RegexExpression.java
  core/src/main/java/org/opensearch/sql/utils/ParseUtils.java
  core/src/test/java/org/opensearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/org/opensearch/sql/expression/parse/RegexCommonUtilsTest.java
  core/src/test/java/org/opensearch/sql/expression/parse/RegexExpressionTest.java
  docs/category.json
  docs/user/ppl/cmd/regex.rst
  docs/user/ppl/index.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/CalciteNoPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteRegexCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/security/CalciteCrossClusterSearchIT.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_regex.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_regex_negated.json
  integ-test/src/test/resources/expectedOutput/calcite_no_pushdown/explain_regex.json
  integ-test/src/test/resources/expectedOutput/calcite_no_pushdown/explain_regex_negated.json
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLRegexTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: PPL, feature, calcite, backport 2.19-dev
