Repository opensearch-project/sql, pull requests merged in 2025-05, with the labels that each got.

#3574 Implement cryptographic hash UDFs
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLBuiltinOperators.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/main/java/org/opensearch/sql/expression/function/udf/CryptographicFunction.java
  docs/user/ppl/functions/cryptographic.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLCryptographicFunctionIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
Labels: calcite

#3605 Add a new row count estimation mechanism for CalciteIndexScan
  common/src/main/java/org/opensearch/sql/common/setting/Settings.java
  docs/user/admin/settings.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLAggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLExplainPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/ppl/ExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/util/MatcherUtils.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_filter_agg_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_filter_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_limit_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_output.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_patterns.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_patterns_agg_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_sort_push.json
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/OpenSearchProjectIndexScanRule.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/setting/OpenSearchSettings.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/CalciteIndexScan.java
Labels: calcite

#3612 Add UT for PredicateAnalyzer and AggregateAnalyzer
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/AggregateAnalyzer.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/response/agg/CompositeAggregationParser.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/response/agg/MetricParserHelper.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/response/agg/NoBucketAggregationParser.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/AggregateAnalyzerTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/PredicateAnalyzerTest.java
Labels: testing, calcite

#3627 Support functions `isempty`, `isblank` and `ispresent` with Calcite
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  docs/user/ppl/functions/condition.rst
  docs/user/ppl/functions/cryptographic.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLConditionBuiltinFunctionIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
Labels: calcite

#3624 Support `describe` command with Calcite
  core/src/main/java/org/opensearch/sql/calcite/plan/AbstractOpenSearchTable.java
  core/src/main/java/org/opensearch/sql/calcite/plan/OpenSearchQueryable.java
  core/src/main/java/org/opensearch/sql/calcite/plan/OpenSearchTable.java
  core/src/main/java/org/opensearch/sql/calcite/utils/OpenSearchTypeFactory.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteDescribeCommandIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/EnumerableSystemIndexScanRule.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/OpenSearchIndex.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/AbstractCalciteIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/CalciteEnumerableIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/CalciteLogicalIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexEnumerator.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/system/AbstractCalciteSystemIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/system/CalciteEnumerableSystemIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/system/CalciteLogicalSystemIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/system/OpenSearchSystemIndex.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/system/OpenSearchSystemIndexEnumerator.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/system/OpenSearchSystemIndexSchema.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite

#3634 Support `fillnull` command with Calcite
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/main/java/org/opensearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/org/opensearch/sql/ast/tree/FillNull.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/test/java/org/opensearch/sql/analysis/AnalyzerTest.java
  docs/user/ppl/cmd/fillnull.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteFillNullCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLFillnullIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/ExplainIT.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_fillnull_push.json
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLFillnullTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite

#3628 Support function `coalesce` with Calcite
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  docs/user/ppl/functions/condition.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLConditionBuiltinFunctionIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
Labels: calcite

#3603 Implement `cidrmatch` udf with Calcite
  core/src/main/java/org/opensearch/sql/expression/function/PPLBuiltinOperators.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/main/java/org/opensearch/sql/expression/function/udf/ip/CidrMatchFunction.java
  core/src/main/java/org/opensearch/sql/expression/ip/IPFunctions.java
  docs/user/ppl/functions/ip.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLIPFunctionIT.java
Labels: calcite

#3645 Fix pushing down filter with nested filed of the text type
  integ-test/src/yamlRestTest/resources/rest-api-spec/test/issues/3635.yml
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/AggregateAnalyzer.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/PredicateAnalyzer.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/CalciteLogicalIndexScan.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/AggregateAnalyzerTest.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/request/PredicateAnalyzerTest.java
Labels: calcite

#3647 Support `top`, `rare` commands with Calcite
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/main/java/org/opensearch/sql/ast/expression/Argument.java
  core/src/main/java/org/opensearch/sql/ast/expression/WindowFrame.java
  core/src/main/java/org/opensearch/sql/ast/expression/WindowFunction.java
  core/src/main/java/org/opensearch/sql/ast/tree/RareTopN.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteAggCallVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/utils/PlanUtils.java
  docs/user/ppl/cmd/rare.rst
  docs/user/ppl/cmd/top.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteRareCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteTopCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/RareCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/TopCommandIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/PPLService.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/ArgumentFactory.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLRareTopNTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite

#3663 Support match_only_text field type
  docs/user/ppl/general/datatypes.rst
  integ-test/src/yamlRestTest/resources/rest-api-spec/api/ppl.explain.json
  integ-test/src/yamlRestTest/resources/rest-api-spec/test/issues/3655.yml
  opensearch/src/main/java/org/opensearch/sql/opensearch/data/type/OpenSearchDataType.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/data/value/OpenSearchExprValueFactory.java
Labels: v3.1.0

#3615 Support Limit pushdown
  integ-test/src/test/java/org/opensearch/sql/ppl/ExplainIT.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_filter_then_limit_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_limit_10_5_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_limit_10_filter_5_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_limit_10from1_10from2_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_limit_5_10_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_limit_offsets_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_limit_push.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_limit_then_filter_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_filter_then_limit_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_limit_10_5_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_limit_10_filter_5_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_limit_10from1_10from2_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_limit_5_10_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_limit_offsets_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_limit_then_filter_push.json
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/OpenSearchAggregateIndexScanRule.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/OpenSearchFilterIndexScanRule.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/OpenSearchIndexRules.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/OpenSearchIndexScanRule.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/OpenSearchLimitIndexScanRule.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/planner/physical/OpenSearchProjectIndexScanRule.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/OpenSearchRequestBuilder.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/AbstractCalciteIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/CalciteLogicalIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexScanBuilder.java
Labels: calcite
