Repository opensearch-project/sql, pull requests merged in 2025-04, with the labels that each got.

#3488 [DOC] Documentation for PPL new engine (V3) and limitations of 3.0.0 Beta
  docs/category.json
  docs/dev/img/alternative.png
  docs/dev/img/architecture-of-calcite-integration.png
  docs/dev/img/relbuilder.png
  docs/dev/intro-v3-architecture.md
  docs/dev/intro-v3-engine.md
  docs/user/dql/metadata.rst
  docs/user/ppl/cmd/join.rst
  docs/user/ppl/cmd/lookup.rst
  docs/user/ppl/cmd/subquery.rst
  docs/user/ppl/index.rst
  doctest/test_data/occupation.json
  doctest/test_data/state_country.json
  doctest/test_data/work_information.json
  doctest/test_data/worker.json
  doctest/test_docs.py
Labels: documentation, calcite

#3508 Execute Calcite PPL query in thread pool
  opensearch/src/main/java/org/opensearch/sql/opensearch/executor/OpenSearchExecutionEngine.java
Labels: calcite

#3515 Fix: CSV handling of embedded crlf
  protocol/src/main/java/org/opensearch/sql/protocol/response/format/FlatResponseBase.java
  protocol/src/test/java/org/opensearch/sql/protocol/response/format/CsvResponseFormatterTest.java
  protocol/src/test/java/org/opensearch/sql/protocol/response/format/RawResponseFormatterTest.java
Labels: bug

#3492 Fix antlr4 parser issues
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
Labels: bug

#3518 fix varchar bug
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLDateTimeBuiltinFunctionIT.java
Labels: calcite

#3522 [Calcite Engine] Function framework refactoring
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/udf/SpanFunction.java
  core/src/main/java/org/opensearch/sql/calcite/udf/systemUDF/TypeOfFunction.java
  core/src/main/java/org/opensearch/sql/calcite/utils/BuiltinFunctionUtils.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/CalciteFuncSignature.java
  core/src/main/java/org/opensearch/sql/expression/function/ImplementorUDF.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLBuiltinOperators.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/main/java/org/opensearch/sql/expression/function/ScalarUDF.java
  core/src/main/java/org/opensearch/sql/expression/function/SpanFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/UserDefinedFunctionBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAggregationTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLMathFunctionTest.java
Labels: calcite

#3542 fix timestamp bug
  core/src/main/java/org/opensearch/sql/calcite/udf/datetimeUDF/TimestampFunction.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLDateTimeBuiltinFunctionIT.java
Labels: calcite

#3442 Fix issue 2489
  DEVELOPER_GUIDE.rst
  core/src/main/java/org/opensearch/sql/utils/DateTimeFormatters.java
  integ-test/build.gradle
  integ-test/src/yamlRestTest/java/org/opensearch/sql/rest/RestHandlerClientYamlTestSuiteIT.java
  integ-test/src/yamlRestTest/resources/rest-api-spec/api/ppl.json
  integ-test/src/yamlRestTest/resources/rest-api-spec/api/query.settings.json
  integ-test/src/yamlRestTest/resources/rest-api-spec/test/issues/2489.yml
  opensearch/src/main/java/org/opensearch/sql/opensearch/data/value/OpenSearchExprValueFactory.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/data/value/OpenSearchExprValueFactoryTest.java
Labels: enhancement

#3560 Support `explain` PPL command
  core/src/main/java/org/opensearch/sql/ast/statement/Explain.java
  core/src/main/java/org/opensearch/sql/executor/ExecutionEngine.java
  core/src/main/java/org/opensearch/sql/executor/QueryService.java
  core/src/main/java/org/opensearch/sql/executor/execution/QueryPlanFactory.java
  core/src/test/java/org/opensearch/sql/executor/QueryServiceTest.java
  core/src/test/java/org/opensearch/sql/executor/execution/QueryPlanFactoryTest.java
  docs/user/ppl/cmd/explain.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLExplainPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/ppl/ExplainIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/PPLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/ppl/StandaloneIT.java
  legacy/src/main/java/org/opensearch/sql/legacy/executor/Format.java
  legacy/src/main/java/org/opensearch/sql/legacy/plugin/RestSQLQueryAction.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/executor/OpenSearchExecutionEngine.java
  plugin/src/main/java/org/opensearch/sql/plugin/rest/RestPPLQueryAction.java
  plugin/src/main/java/org/opensearch/sql/plugin/transport/TransportPPLQueryAction.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/PPLService.java
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstStatementBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/PPLServiceTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
  protocol/src/main/java/org/opensearch/sql/protocol/response/format/Format.java
  sql/src/main/java/org/opensearch/sql/sql/SQLService.java
  sql/src/main/java/org/opensearch/sql/sql/domain/SQLQueryRequest.java
  sql/src/test/java/org/opensearch/sql/sql/SQLServiceTest.java
Labels: PPL, calcite

#3571 New added commands should throw exception when calcite disabled
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/main/java/org/opensearch/sql/analysis/ExpressionAnalyzer.java
  core/src/main/java/org/opensearch/sql/executor/QueryService.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteNewAddedCommandsIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLBasicIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/NewAddedCommandsIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/executor/OpenSearchExecutionEngine.java
Labels: calcite

#3577 Support parsing documents with flattened value
  core/src/main/java/org/opensearch/sql/data/model/ExprTupleValue.java
  core/src/main/java/org/opensearch/sql/data/model/ExprValue.java
  core/src/test/java/org/opensearch/sql/data/model/ExprTupleValueTest.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteFlattenDocValueIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestsConstants.java
  integ-test/src/test/java/org/opensearch/sql/ppl/FlattenDocValueIT.java
  integ-test/src/test/resources/flattened_value.json
  integ-test/src/yamlRestTest/resources/rest-api-spec/test/issues/3477.yml
  opensearch/src/main/java/org/opensearch/sql/opensearch/data/value/OpenSearchExprValueFactory.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/util/JdbcOpenSearchDataTypeConvertor.java
  opensearch/src/test/java/org/opensearch/sql/opensearch/data/value/OpenSearchExprValueFactoryTest.java
Labels: bug, v3.0.0, backport 3.0

#3589 Remove beta1 qualifier
  build.gradle
Labels: release, v3.0.0, backport main

#3592 Add release notes on version 3.0.0.0
  release-notes/opensearch-sql.release-notes-3.0.0.0.md
Labels: backport main

#3553 Revert stream pattern method in V2 and implement SIMPLE_PATTERN in Calcite
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/org/opensearch/sql/ast/expression/ParseMethod.java
  core/src/main/java/org/opensearch/sql/ast/tree/Patterns.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/expression/DSL.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/main/java/org/opensearch/sql/expression/window/WindowFunctions.java
  core/src/main/java/org/opensearch/sql/expression/window/patterns/StreamPatternWindowFunction.java
  core/src/main/java/org/opensearch/sql/utils/ParseUtils.java
  core/src/test/java/org/opensearch/sql/analysis/AnalyzerTest.java
  core/src/test/java/org/opensearch/sql/expression/window/patterns/StreamPatternWindowFunctionTest.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLPatternsIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLPatternsPushdownIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/ExplainIT.java
  integ-test/src/test/resources/expectedOutput/calcite/explain_patterns.json
  integ-test/src/test/resources/expectedOutput/calcite/explain_patterns_agg_push.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_patterns.json
  integ-test/src/test/resources/expectedOutput/ppl/explain_patterns_agg_push.json
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexScanQueryBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAbstractTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLParseTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLPatternsTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/parser/AstBuilderTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: calcite
