Repository opensearch-project/sql, pull requests merged in 2025-06, with the labels that each got.

#3738 Support ResourceMonitor with Calcite
  core/src/main/java/org/opensearch/sql/exception/NonFallbackCalciteException.java
  core/src/main/java/org/opensearch/sql/executor/QueryService.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteResourceMonitorIT.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/monitor/OpenSearchResourceMonitor.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/OpenSearchIndex.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/CalciteEnumerableIndexScan.java
  opensearch/src/main/java/org/opensearch/sql/opensearch/storage/scan/OpenSearchIndexEnumerator.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLAppendcolTest.java
Labels: enhancement, calcite

#3559 add json functions
  async-query-core/src/main/antlr/OpenSearchPPLParser.g4
  build.gradle
  core/build.gradle
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionRepository.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLBuiltinOperators.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonAppendFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonArrayLengthFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonDeleteFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonExtendFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonExtractFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonKeysFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonSetFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/jsonUDF/JsonUtils.java
  core/src/main/java/org/opensearch/sql/expression/json/JsonFunctions.java
  core/src/test/java/org/opensearch/sql/expression/json/JsonFunctionsTest.java
  docs/user/ppl/functions/json.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteJsonFunctionsIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLJsonBuiltinFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/JsonFunctionsIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
Labels: calcite

#3745 Support `expand` command with Calcite
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/dsl/AstDSL.java
  core/src/main/java/org/opensearch/sql/ast/tree/Expand.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  docs/user/ppl/cmd/expand.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteExpandCommandIT.java
  integ-test/src/test/java/org/opensearch/sql/legacy/SQLIntegTestCase.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestUtils.java
  integ-test/src/test/java/org/opensearch/sql/legacy/TestsConstants.java
  integ-test/src/test/resources/array.json
  integ-test/src/test/resources/indexDefinitions/array_index_mapping.json
  opensearch/src/main/java/org/opensearch/sql/opensearch/executor/OpenSearchExecutionEngine.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLExpandTest.java
Labels: PPL, calcite

#3640 Add earliest and latest in condition function
  core/src/main/java/org/opensearch/sql/calcite/utils/PPLOperandTypes.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLBuiltinOperators.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/main/java/org/opensearch/sql/expression/function/udf/condition/EarliestFunction.java
  core/src/main/java/org/opensearch/sql/expression/function/udf/condition/LatestFunction.java
  core/src/main/java/org/opensearch/sql/utils/DateTimeUtils.java
  core/src/test/java/org/opensearch/sql/utils/DateTimeUtilsTest.java
  docs/user/ppl/cmd/stats.rst
  docs/user/ppl/functions/condition.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLAggregationIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLConditionBuiltinFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLEventstatsIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
Labels: calcite

#3584 Add lambda function and array related functions
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/expression/LambdaFunction.java
  core/src/main/java/org/opensearch/sql/calcite/CalcitePlanContext.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/utils/OpenSearchTypeFactory.java
  core/src/main/java/org/opensearch/sql/calcite/utils/UserDefinedFunctionUtils.java
  core/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  core/src/main/java/org/opensearch/sql/expression/function/CollectionUDF/ArrayFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/CollectionUDF/ExistsFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/CollectionUDF/FilterFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/CollectionUDF/ForallFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/CollectionUDF/LambdaUtils.java
  core/src/main/java/org/opensearch/sql/expression/function/CollectionUDF/ReduceFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/CollectionUDF/TransformFunctionImpl.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLBuiltinOperators.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  core/src/test/java/org/opensearch/sql/calcite/CalciteRexNodeVisitorTest.java
  docs/user/ppl/functions/collection.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalciteArrayFunctionIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
Labels: calcite

#3679 Return double with correct precision for `UNIX_TIMESTAMP`
  core/src/main/java/org/opensearch/sql/expression/datetime/DateTimeFunctions.java
  core/src/main/java/org/opensearch/sql/expression/function/PPLFuncImpTable.java
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteDateTimeFunctionIT.java
  integ-test/src/test/java/org/opensearch/sql/ppl/DateTimeFunctionIT.java
Labels: PPL, calcite

#3747 Support `flatten` command with Calcite
  core/src/main/java/org/opensearch/sql/analysis/Analyzer.java
  core/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  core/src/main/java/org/opensearch/sql/ast/tree/Flatten.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  docs/user/ppl/cmd/flatten.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/remote/CalciteFlattenCommandIT.java
  ppl/src/main/antlr/OpenSearchPPLLexer.g4
  ppl/src/main/antlr/OpenSearchPPLParser.g4
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/main/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizer.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLFlattenTest.java
Labels: PPL, calcite

#3760 Fix field not found issue in join output when column names are ambiguous
  core/src/main/java/org/opensearch/sql/ast/tree/Join.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRelNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/CalciteRexNodeVisitor.java
  core/src/main/java/org/opensearch/sql/calcite/utils/PlanUtils.java
  docs/user/ppl/cmd/join.rst
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLJoinIT.java
  integ-test/src/test/java/org/opensearch/sql/calcite/tpch/CalcitePPLTpchIT.java
  ppl/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLBasicTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLInSubqueryTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/calcite/CalcitePPLJoinTest.java
  ppl/src/test/java/org/opensearch/sql/ppl/utils/PPLQueryDataAnonymizerTest.java
Labels: PPL, calcite

#3782 Resolve commons beanutils to 2.0
  build.gradle
Labels: backport main, maintenance

#3781 Add 3.1.0 release notes
  release-notes/opensearch-sql.release-notes-3.1.0.0.md
Labels: backport main, maintenance

#3799 [Backport-main] Remove unneeded dependency on commons-validator
  build.gradle
  datasources/build.gradle
Labels: maintenance

#3811 Decimal literal should convert to double in pushdown
  integ-test/src/yamlRestTest/resources/rest-api-spec/test/issues/3810.yml
  opensearch/src/main/java/org/opensearch/sql/opensearch/request/PredicateAnalyzer.java
Labels: calcite, pushdown, backport 2.19-dev

#3817 [Backport] Unified query modules publishing to 2.19
  .github/workflows/maven-publish-modules.yml
  api/README.md
  api/build.gradle
  api/src/main/java/org/opensearch/sql/api/UnifiedQueryPlanner.java
  api/src/test/java/org/opensearch/sql/api/UnifiedQueryPlannerTest.java
  build.gradle
  settings.gradle
Labels: enhancement

#3815 [BUG] Fix flaky tests related to WeekOfYear in CalcitePPLDateTimeBuiltinFunctionIT
  integ-test/src/test/java/org/opensearch/sql/calcite/standalone/CalcitePPLDateTimeBuiltinFunctionIT.java
Labels: flaky-test, calcite, backport 2.19-dev
